<h1>New Workout Log</h1>
<%= simple_form_for @log do |f| %>
  <%= f.input :date %>
  <%= f.input :workout %>
  <%= f.input :mood %>
  <%= f.input :length %>
  <%= f.submit 'Create' %>
<% end %>