<!DOCTYPE html>
<html>
  <head>
    <title>WodGenerator</title>
    
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to "Wod Generator", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "Timer", timers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workout Tracker</a>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
    <div id="footer">
      <div class="container text-center">
        <b>Under Construction</b>
        <br />
        <%= link_to "Davis Development", "https://davisdevelopment.tech", :target => "_blank" %>
      </div>
    </div>
  </body>
</html>
